<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">


<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">Menu</h3>
  <a routerLink="/about" class="w3-bar-item w3-button">About</a>
  <a routerLink="/contact" class="w3-bar-item w3-button">Contact</a>
  <a routerLink="/services" class="w3-bar-item w3-button">Services</a>
  <a routerLink="/suport" class="w3-bar-item w3-button">Suport</a>
</div>

<!-- Page Content -->
<div style="margin-left:15%">

<div class="w3-container w3-teal">
  <h1>Sourya PG</h1>
    <h5>Welcome to Sourya PG</h5>
    <div class="right-align">
    <button style="background-color:green; color: white;"  (click)="openAdmissionFrom()">Admission Form </button>
</div>
</div>
<!-- <img src="assets/images/image1.jpg" alt="car" width="50%"> -->
 <img src="assets/images/image1.jpg" alt="car" height="300" style="width:25%">
 <img src="assets/images/image2.jpg" alt="image" height="300" style="width:25%">
 <img src="assets/images/image4.jpg" alt="image" height="300" style="width:25%"> 
 <img src="assets/images/image6.jpg" alt="image" height="300" style="width:25%"> 


<footer class="footer">
  <p>&copy; 2026 Sourya PG. All rights reserved.</p>